<div class="activity-log__toolbar">
  <app-ui-filter-pills
    class="activity-log__filters"
    [options]="filterOptions"
    [active]="activeFilterList()"
    ariaLabel="activity event filters"
    (toggled)="toggleFilter($event)"
  />
  <app-ui-segmented
    [options]="verbosityOptions"
    [value]="verbosity()"
    ariaLabel="log verbosity"
    (changed)="setVerbosity($event)"
  />
</div>

<ol class="activity-log__list">
  @for (e of visibleEvents(); track e.id) {
    <li>
      <app-event-line
        [event]="e"
        [verbosity]="verbosity()"
        [actorLabel]="actorLabel()"
        [actorKind]="actorKind()"
      />
    </li>
  } @empty {
    <li class="activity-log__empty">No events match the current filters.</li>
  }
</ol>
